:root {
  --background-color: #22565f;
  --secondary-color: #bbc3b6;
  --white-color: #fff;
}

html {
  scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100vw;
  height: 100vh;
  border-bottom: solid 3vh #435761;
  
  background-color: var(--background-color);
}

  .header__wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    padding-top: 10vh;
  }

    .header__logo {
      color: var(--secondary-color);
      margin-right: 5vw;
    }

    .header__h1 {
      color: var(--white-color);
      font-size: 45px;
      margin-top: 5vh;
      margin-bottom: 10vh;
    }
      .header__h1 i {
        font-weight: 100;
        font-size: 40px;
      }

    .header__ul {
      margin-left: 3vw;
      color: var(--secondary-color);
    }

      .header__li {
        margin-bottom: 1.5vh;
      }

      .header__link {
        color: var(--secondary-color);
        font-size: 25px;
        font-weight: 100;
        text-decoration: none;
        transition: 200ms linear;
      }
        .header__link:hover {
          color: var(--white-color);
        }

.main {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
}

  .main__wrapper {
    width: 50vw;
  }

    .contacts {
      margin-top: 10vh;
      color: #2c2a23;
    }

      .contacts__title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 2vh;
      }

      .contacts__ul {
        font-size: 20px;
        list-style: none;
      }

        .contacts__li {
          margin-bottom: 1vh;
        }
          
          .contacts__li span {
            font-weight: 200;
          }
      
        .contacts__link {
          text-decoration: none;
          color:#435761;
          transition: 200ms all;
        }
          .contacts__link:hover {
            color: #618388
          }
  
.footer {
  height: 12vh;
  width: 100vw;
  background-color: #2c2a23;

  display: flex;
  justify-content: center;
  align-items: center;
}

  .footer__copyright {
    color: #5c594c
  }